/* Remove 'Show all X' link in Custom report blocks. */
.block-region .block_rbreport [data-action="showcount"][data-target-page-size] {
    display: none;
}
/* Hide export form. */
.block-region .block_rbreport [data-region="core_reportbuilder/report"] .dataformatselector {
    display: none;
}
.block-region .block_rbreport .table-dynamic > div {
    scrollbar-width: thin;
}
